<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>NZ Native Animal Cards</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div>
      New Zealand native animals kiwi kea
    </div>

    <script type="text/x-template" id="card-template">
      <div v-on:click="animal.zoom=!animal.zoom;selected=animal;"
          class="card" v-bind:class="{'zoom': animal.zoom}"> 
        <div class="namecontainer">
          {{animal.name}}
        </div>
        <div class="metercontainer"> 
          <div v-bind:class="'meter level' + animal.level">
          </div>
        </div>
        <div class="statuscontainer">
          Status Level {{animal.level}}: {{animal.status}}
        </div>
        <div>
          <img v-bind:src="animal.image" class="image">
        </div>
        <div class="infocontainer">
          <div class="threats">
            <h1 class="infoheading">Threats</h1>
            <ul> 
              <li v-for="threat in animal.threats">
                {{threat.text}}
              </li>
            </ul>
          </div>
          <div class="facts">
            <h1 class="infoheading">Facts</h1>
            <ul> 
              <li v-for="fact in animal.facts">
                {{fact.text}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </script>

    <div id="app"> 
      <card v-for="a in animals" v-bind:animal="a">
      </card>
      <card v-bind:animal="selected">
      </card>
    </div>

    <!-- start vue app, after app div loaded -->
    <script src="script.js"></script>

  </body>
</html>

