<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>NZ Native Animal Cards</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
  </head>

  <body>
    <script type="text/x-template" id="homepage-template">
      <div>
        <div class="infotext">
          <h2> Web-Application Explanation </h2>

          <p>
            This web application uses cards to show important information about New Zealand's
            Native Animals. The 12 cards displayed all contain a box of facts about their
            respective native animal. On the left of this is a box containing all of the things
            that threaten that animal species survival.
          </p>
        </div>

        <div class="infotext">
          <h3> Endangered Meter and Status Level </h3>

          <p>
            Each card has a status level indicating the endangered status level of the
            animal. The endangered status level is shown visually with a bar using the colours
            assigned by the
            <a href="https://www.doc.govt.nz/nature/conservation-status/" target="_blank">
              Department of Conservation.
            </a>
            The status levels range from 1 being 'Not Threatened' to 8 being 'Nationally Critical'.
          </p>
        </div>

        <div class="infotext last">
          <h3> Interactivity </h3>

          <ul>
            <li>
              Clicking on a card will enlarge the card and place it in the centre of the screen.
            </li>
            <li>
              Clicking on the card again will return it to its original size.
            </li>
            <li>
              Clicking on the name of each animal will toggle the animals name between English and
              Māori (unless the English name is the same as the Māori name).
            </li>
            <li>
              At the top of the screen there are two buttons, one which plays some of the sounds
              heard in New Zealand's native bush, the other changing the colour theme of the
              web-application.
            </li>
          </ul>
        </div>
      </div>
    </script>


    <script type="text/x-template" id="cardspage-template">
      <div>
        <!-- Loop over animals outputting small cards -->
        <card v-for="a in animals" v-bind:animal="a" v-bind:selected="selected" v-bind:small="true">
        </card>

        <!-- Big card, if selected -->
        <div id="bigcardcontainer" v-bind:class="{'notdisplayed': !selected.animal}">
          <card v-if="selected.animal" v-bind:animal="selected.animal" v-bind:selected="selected" v-bind:small="false">
          </card>
        </div>
      </div>
    </script>


    <script type="text/x-template" id="creditspage-template">
      <div>
        <div class="infotext">
          <h2> Content </h2>
          <ul>
            <li>
              Department of Conservation has provided lots of valauble, reliable information for this project-
              <ul>
                <li>
                  <a href="https://www.doc.govt.nz/nature/native-animals/" target="_blank">
                    Native animal information,
                  </a>
                </li>
                <li>
                  <a href="https://www.doc.govt.nz/nature/native-animals/birds/bird-songs-and-calls/" target="_blank">
                    Native bird audio
                  </a>
                </li>
              </ul>
            </li>
            <li>
              New Zealand Birds Online has provided me with in-depth information about NZ birds for this project-
              <ul>
                <li>
                  <a href="http://nzbirdsonline.org.nz/" target="_blank">
                    Native bird information
                  </a>
                </li>
              </ul>
            </li>
            <li>
              Thank you to all the individuals that provided their photographs free to use.
            </li>
          </ul>
            
        </div>

        <div class="infotext">
          <h2> Tools </h2>
          <ul>
            <li>
              GitHub has provided
              <a href="https://github.com/Beaves1/Beaves1.github.io" target="_blank">
                version control
              </a>
              and the hosting of this web-application.
            </li>
            <li>
              This web-application is powered by the
              <a href="https://vuejs.org/" target="_blank">
                Vue framework
              </a>
            </li>
            <li>
              <a href="https://www.gimp.org/" target="_blank">
                GIMP
              </a>
              was used for image editing
            </li>
            <li>
              <a href="https://www.audacityteam.org/" target="_blank">
                Audacity
              </a>
              was used for audio editing
            </li>
            <li>
              <a href="https://freedcamp.com/" target="_blank">
                Freedcamp
              </a>
              was used for project management
            </li>
            <li>
              The
              <a href="https://validator.w3.org/" target="_blank">
                W3C validators
              </a>
              were used to check my code
            </li>

                   
          </ul>
        </div>
      </div>
    </script>


    <!--
     Define the template for a card referenced from the Vue component by the id "card-template"
    -->
    <script type="text/x-template" id="card-template">
      <div class="wrapper" v-bind:class="{'shrunk': small}">
        <div v-on:click="selected.animal = (selected.animal == animal ? null : animal)"
            class="card" v-bind:class="{'shrunk': small}">
          <div class="namecontainer" v-on:click.stop="animal.namer=!animal.namer">
            {{animal.namer ? animal.name : animal.maoriname}}
          </div>
          <div class="metercontainer">
            <div class="meter" v-bind:class="'level' + animal.level">
            </div>
          </div>
          <div class="statuscontainer">
            Status Level {{animal.level}}: {{animal.status}}
          </div>
          <div>
            <img v-bind:src="animal.image" alt="Native Animal photo" class="image">
          </div>
          <div class="infocontainer">
            <div class="threats">
              <h1 class="infoheading">Threats</h1>
              <ul>
                <li v-for="threat in animal.threats">
                  {{threat.text}}
                </li>
              </ul>
            </div>
            <div class="facts">
              <h1 class="infoheading">Facts</h1>
              <ul>
                <li v-for="fact in animal.facts">
                  {{fact.text}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </script>


    <div id="app" v-bind:class="{'theme1': themer, 'theme2': !themer}">

      <!-- Banner content including interactive buttons -->
      <div id="banner">
        <div id="bannercontainer">
          <h1 class="heading">New Zealand Native Animal Cards </h1>

          <div class="headinglink">
            <router-link to="/">Home</router-link>
          </div>
          <div class="headinglink">
            <router-link to="/cards">Cards</router-link>
          </div>
          <div class="headinglink">
            <router-link to="/credits">Credits</router-link>
          </div>
          <button class="button" v-on:click.prevent="changeSound()">Sound On/Off</button>
          <button class="button" v-on:click="themer=!themer" >Change Theme</button>
        </div>
      </div>

      <router-view></router-view>

    </div>

    <!-- Start vue app, after app div loaded -->
    <script src="animals.js"></script>
    <script src="script.js"></script>

  </body>
</html>

